<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to quiz App</h1>
    <p class="col-md-8 fs-4" style="line-height: 1.2em">You will be faced with a total of 10 questions, which you must try all at one seat. If you leave/refresh the page before completion, your progress will not be saved. <br><br><h1 style="font-family: cursive; text-align:center">Good luck.</h1> </p>

    <div class="name col-md-4 my-3">
        <label for="">What name should we refer you as:</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/questions" (click)="startQuiz()">Hooray, Start</button>





</div>